.flex {
    display: flex;
}

body {
  flex-direction: column;
}

@media only screen and (min-width: 321px) and (max-width: 2560px){

.articles-mob-sm {
  display: none;
}

.nav-mob-sm {
  display: none;
}

.latest-news-mob-sm {
  display: none;
}

/* Navbar Section */

.nav {
  width: 100%;
  flex-direction: column;
}

.u-clear {
  justify-content: space-between;
  background-color: black;
  height: 30px;
  padding: 0 15px;
  align-items: center;
}

.u-clear > ul > li {
  margin: 0 5px;
}

.u-clear > ul > li > a {
  color: #aaa;
  text-decoration: none;
  font-size: 1em;
}

.nav-sections {
  background-color: white;
  height: 50px;
  padding: 0 20px;
  align-items: center;
  float: left;
}

.nav-sections > li {
  margin: 0 20px 0 0;
}
  
.nav-sections > li > a {
  color: #aaa;
  text-decoration: none;
  font-size: 1em;
}

.nav-sections-div {
  border-left: 1px #aaa solid;
  height: 50px;
  align-items: center;
  float: right;
}

.nav-sections-div > i {
  padding-left: 10px;
}

.nav-sections-div > img {
  width: 120px;
  height: auto;
}

.nav-sections-div > a {
  color: white;
  background-color: #0cc;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.7em;
  margin-right: 10px;
}

.nav-div-3 {
  background-color: rgb(221, 197, 61);
  height: 30px;
  padding: 0 20px;
  align-items: center;
}

.nav-div-3 > a {
  text-decoration: none;
  color: black;
}

/** Article 1 Section */ 
.articles {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}

.bg-img {
  background-image: url(../images/article-1-bg.png);
  background-size: cover;
  max-width: 100%;
  height: 554px;
  grid-column: 1/3;
  grid-row: 1/3;
}

.bg-img-2 {
  background-image: url(../images/article-2-bg.jpg);
  background-size: cover;
  max-width: 470px;
  grid-column: 3/4;
  grid-row: 1/2;
  height: 270px;
}

.bg-img-3 {
  background-image: url(../images/article-3-bg.png);
  background-size: cover;
  max-width: 470px;
  grid-column: 3/4;
  grid: 2/3;
  height: 270px;
}

.article-1 {
  max-width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(253, 39, 39, 0.377), black);
  flex-direction: column;
  justify-content: space-between;
}

.article-1 > div {
  justify-content: space-between;
  padding: 20px;
}

.article-1 > div > img {
  width: 480px;
  height: auto;
}

.article-1 p,
.article-3 p {
  color: white;
}

.article-1 i,
.article-3 i {
  color: white;
  margin-right: 5px;
}

.article-1 > div:last-of-type {
  flex-direction: column;
  padding: 20px;
}

.article-1 > div > h1 {
  color: white;
  font-size: 3.5em;
  font-weight: bold;
  max-width: 95%;
}

.article-1 li,
.article-3 li {
  margin: 20px 20px 0 0;
}

.article-2 {
  max-width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(252, 252, 252, 0));
  justify-content: flex-end;
  flex-direction: column;
}

.article-2 > h2 {
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 20px;
}

.article-3 {
  max-width: 100%;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(252, 252, 252, 0));
}

.article-3 > h2 {
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding: 20px 20px 0 20px;
}

.article-3 ul {
  padding: 0 20px 20px 20px;
}

/* Article 2 Section */

.latest-news {
  flex-direction: column;
  width: 75%;
  margin-left: 9%;
}

.art-2-title {
  height: 80px;
  align-items: center;
}

.latest-news h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: orangered;
}

.articles-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 505px;
  grid-gap: 30px;
}

.art-2-box {
  width: 270px;
  height: 227px;
}

.art-2-box a:first-of-type {
  color: black;
  text-decoration: none;
  font-weight: bold;
  line-height: 1.2;
}

.art-2-box h2 {
  margin: 2px 0 3px 1px;
}

.art-2-box img {
  width: 100%;
  height: 150px;
}

.art-2-ft-text {
  align-items: center;
}

.art-2-ft-text a,
.art-2-box li {
  color: #aaa;
  text-decoration: none;
  font-size: 1em;
}

.art-2-box li {
  margin-right: 10px;
}

}
