@media only screen and (max-width: 767px) {
  .nav,
  .articles,
  .latest-news,
  .funding,
  .mid-links,
  .article-1,
  .article-3,
  .deals,
  .footer,
  .nav-medium {
    display: none;
  }

  /* Navbar Section */

  .nav-mob-sm {
    position: fixed;
    width: 100%;
    flex-direction: column;
    z-index: 100;
  }

  .top-div-mob-sm > div {
    position: absolute;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(252, 252, 252, 0));
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
  }

  .nav-mob-sm-div-1 {
    height: 50px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
  }

  .nav-mob-sm-div-1 > div {
    background-color: red;
    height: 100%;
    align-items: center;
    width: 85px;
    padding: 0 10px 0 10px;
  }

  .article-1-mob-sm > div {
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    padding: 20px;
  }

  .ft-bottom-div-mob-sm > div {
    height: 80%;
    justify-content: center;
    flex-direction: column;
    line-height: 1.4;
    max-width: 90%;
    text-align: center;
    color: #aaa;
  }

  .art-2-box-mob-sm > div {
    height: 77px;
    width: 300px;
  }

  .mid-div-mob-sm > div {
    float: left;
    padding: 0 0 0 10px;
  }

  .deal-items-mob-sm > div {
    flex-direction: column;
    height: 75px;
  }

  .nav-mob-sm-div-1 > div:last-of-type {
    background-color: white;
    height: 100%;
    align-items: center;
  }

  .article-1-mob-sm i,
  .article-3-mob-sm i {
    color: white;
    margin-right: 5px;
  }

  .ft-top-div-mob-sm i {
    color: white;
    height: 30px;
    width: 40px;
    border-radius: 50%;
    background-color: #333;
    margin: 0 4px 0 4px;
    text-align: center;
    padding-top: 10px;
  }

  .nav-mob-sm-div-1 > div > i {
    padding: 32px 15px 0 15px;
    border-left: 1px #aaa solid;
    height: 100%;
  }

  .ft-bottom-div-mob-sm img {
    height: 9px;
    width: 37.13px;
    margin-right: 5px;
  }

  .deal-items-mob-sm img {
    width: 75px;
    height: 75px;
    margin-bottom: 5px;
    margin-right: 10px;
  }

  .articles-3-mob-sm img {
    width: 100%;
    height: 100%;
  }

  .mid-div-mob-sm > img {
    float: right;
    height: 96px;
    width: 96px;
  }

  .nav-mob-sm-div-1 > div > img {
    height: 16px;
    margin-left: 10px;
  }

  .nav-mob-sm-div-2 {
    height: 65px;
    background-color: rgb(221, 197, 61);
    align-items: center;
  }

  .nav-mob-sm-div-2 > a {
    font-size: 0.8em;
    text-decoration: none;
    color: black;
    padding-left: 10px;
  }

  /* Article 1 Section */

  .articles-mob-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 115px;
  }

  .bg-img-mob-sm {
    background-image: url(../images/article-1-bg.png);
    background-size: cover;
    width: 97%;
    height: 310px;
    background-position: center;
    margin-bottom: 10px;
  }

  .bg-img-2-mob-sm {
    background-image: url(../images/article-2-bg.jpg);
    background-size: cover;
    width: 97%;
    height: 310px;
    background-position: center;
    margin-bottom: 10px;
  }

  .bg-img-3-mob-sm {
    background-image: url(../images/article-3-bg.png);
    background-size: cover;
    width: 97%;
    height: 310px;
    margin-bottom: 10px;
  }

  .article-1-mob-sm {
    max-width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(39, 39, 39, 0.521));
    flex-direction: column;
    justify-content: space-between;
  }

  .article-1-mob-sm p,
  .article-3-mob-sm p {
    color: white;
    font-size: 0.6em;
  }

  .article-1-mob-sm > div:last-of-type {
    flex-direction: column;
    padding: 20px;
  }

  .latest-news-mob-sm h1 {
    font-size: 2em;
    font-weight: bold;
    color: orangered;
  }

  .article-1-mob-sm > div > h1 {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    max-width: 95%;
  }

  .article-1-mob-sm li,
  .article-3-mob-sm li {
    margin: 20px 20px 0 0;
    align-items: center;
    justify-content: center;
  }

  .article-2-mob-sm {
    max-width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(252, 252, 252, 0));
    justify-content: flex-end;
    flex-direction: column;
  }

  .article-2-mob-sm > h2 {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px;
  }

  .article-3-mob-sm {
    max-width: 100%;
    height: 100%;
    justify-content: flex-end;
    flex-direction: column;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(252, 252, 252, 0));
  }

  .article-3-mob-sm > h2 {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px 20px 0 20px;
  }

  .article-3-mob-sm ul {
    padding: 0 20px 20px 20px;
  }

  /* Latest News Section */

  .latest-news-mob-sm {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .art-2-title-mob-sm {
    height: 80px;
    align-items: center;
    width: 90%;
  }

  .art-2-box-mob-sm > div {
    width: 100%;
  }

  .art-2-box-mob-sm > div > a > img {
    height: 75px;
    width: 90px;
    margin-right: 5px;
  }

  .articles-2-mob-sm {
    flex-direction: column;
    width: 90%;
  }

  .art-2-box-mob-sm {
    width: 100%;
    height: 90px;
  }

  .art-2-box-mob-sm h2 {
    margin: 2px 0 3px 1px;
  }

  .art-2-ft-text-mob-sm {
    align-items: center;
  }

  .ft-bottom-div-mob-sm a {
    color: #aaa;
    margin-right: 5px;
    font-size: 0.9em;
    text-decoration: none;
    float: left;
  }

  .description-mob-sm a {
    text-decoration: none;
    color: #555;
    line-height: 1.5;
    font-size: 0.8em;
    max-width: 75%;
  }

  .mid-div-mob-sm a {
    text-decoration: none;
    color: #f42;
    font-size: 0.8em;
    line-height: 1.2;
    font-weight: bold;
    max-width: 70%;
    text-justify: auto;
  }

  .art-2-ft-text-mob-sm > li > a,
  .art-2-box-mob-sm li {
    color: #aaa;
    text-decoration: none;
    font-size: 0.85em;
    margin-top: 3px;
  }

  .art-2-box-mob-sm li {
    margin-right: 10px;
  }

  /* Fundings Section */

  .container-mob-sm {
    flex-direction: column;
    width: 90%;
    margin-top: 20px;
  }

  .container-mob-sm > .item-mob-sm {
    width: 100%;
    height: 269.13px;
    padding: 12px 0;
  }

  .head-mob-sm {
    background: #f42;
    color: white;
    padding: 12px;
    font-weight: bold;
    font-size: 1.2em;
  }

  .funding-mob-sm {
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .funding-title-div-mob-sm {
    flex-direction: column;
    width: 90%;
    height: 50px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 80px;
  }

  .funding-title-div-mob-sm > h2 > a {
    font-size: 1.7em;
    color: #f42;
    text-decoration: none;
    font-weight: bold;
  }

  .funding-title-div-mob-sm > p {
    color: #f42;
    flex-direction: column;
    line-height: 1.8;
    font-size: 0.9em;
    width: 100%;
    margin: 10px 0;
  }

  .funding-title-div-mob-sm > p > a {
    color: #f42;
    text-decoration: none;
    font-size: 1.1em;
  }

  .fund-mob-sm {
    background: rgba(255, 68, 34, 0.08);
    padding-left: 12px;
    height: 40px;
    flex-direction: column;
  }

  .fund-mob-sm > h5 {
    color: black;
    font-size: 1.4em;
    font-weight: bold;
  }

  .fund-mob-sm > p {
    color: #555;
    font-size: 1em;
  }

  .spec-mob-sm {
    height: 80px;
    padding-left: 12px;
    align-items: center;
    line-height: 1.5;
    color: #555;
    font-size: 0.9em;
  }

  .description-mob-sm {
    height: 80px;
    padding-left: 12px;
  }

  .description-mob-sm a {
    max-width: 100%;
  }

  .description-mob-sm span {
    color: #aaa;
  }

  /* Mid Links Section */

  .mid-links-mob-sm {
    width: 100%;
  }

  .articles-3-mob-sm {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .articles-3-mob-sm h2 {
    font-size: 2em;
    font-weight: bold;
    color: #f42;
    margin-bottom: 10px;
  }

  .top-div-mob-sm {
    position: relative;
  }

  .top-div-mob-sm h4 {
    color: white;
    font-size: 0.8em;
    line-height: 1.5;
    padding: 0 0 0 10px;
  }

  .top-div-mob-sm h3 {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
  }

  .top-div-mob-sm li {
    color: #aaa;
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 10px;
    padding: 0 0 10px 10px;
  }

  .mid-div-mob-sm {
    background-color: #ff432215;
    height: 96px;
    width: 100%;
    align-items: center;
  }

  .mid-div-mob-sm h5 {
    color: #f42;
    font-size: 0.8em;
    margin-bottom: 5px;
  }

  .articles-3-mob-sm ul {
    list-style: none;
  }

  .bottom-div-mob-sm > ul > li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  .ft-links-mob-sm li {
    color: #aaa;
    font-size: 0.8em;
    margin-right: 15px;
  }

  .bottom-div-mob-sm > ul > li {
    height: 51px;
  }

  .bottom-div-mob-sm > ul > li > a {
    color: #aaa;
    font-size: 0.9em;
    text-decoration: none;
  }

  .bottom-div-mob-sm {
    width: 89%;
    height: 255px;
    padding: 20px;
  }

  /* Deals section */

  .deals-mob-sm {
    align-items: center;
    flex-direction: column;
  }

  .deals-title-mob-sm {
    width: 90%;
    justify-content: space-between;
    align-items: center;
  }

  .deals-mob-sm h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #f42;
    margin-bottom: 30px;
  }

  .deals-mob-sm h4 {
    font-size: 0.9em;
    color: #f42;
  }

  .deals-section-mob-sm {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 72px;
  }

  .deal-items-mob-sm {
    display: flex;
    width: 100%;
  }

  .font-mob-sm {
    font-size: 0.9em;
    max-width: 100%;
    font-weight: bold;
    height: 40px;
    margin: 5px 0 10px 0;
  }

  .price-mob-sm {
    width: 100%;
    height: 26px;
    margin: 5px 0;
  }

  .old-price-mob-sm {
    font-size: 0.8em;
    color: #aaa;
  }

  .new-price-mob-sm {
    font-size: 1.1em;
    color: #555;
    margin-left: 10px;
  }

  /* Footer Section */

  .footer-mob-sm {
    width: 100%;
    height: 307px;
    margin-top: 600px;
  }

  .ft-top-div-mob-sm {
    background-color: #131313;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 185px;
  }

  .icons-mob-sm {
    width: 90%;
    justify-content: center;
  }

  .ft-links-mob-sm {
    margin-top: 30px;
    height: 35%;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ft-bottom-div-mob-sm {
    background-color: #000;
    justify-content: center;
    align-items: center;
    height: 122px;
    border: 1px white solid;
    padding: 5%;
  }

  .ft-bottom-div-mob-sm a:last-of-type {
    color: white;
    text-decoration: none;
    font-weight: bold;
    float: right;
  }
}
